<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{filmController.selected.name}</ui:define>

        <ui:define name="body">
            <br/>
            <br/>
            <br/>
            <f:event type="preRenderView" listener="#{filmController.init()}"/>

            <h1 align="center" style="color: white">#{filmController.selected.name} (#{filmController.selected.yearFilm})</h1>
            <h2 align="center" style="color: white">#{filmController.selected.serbianName}</h2>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <div class="thumbnail" align="center" style="background-color: rgba(245,245,245,0.4); width: 70%; display: inline-block;">

                <h:form rendered="#{not empty filmController.selected.youtube}" >
                    <div class="panel-default">
                        <iframe  class="panel-body" width="560" height="315" src="#{filmController.selected.youtube}" frameborder="0" gesture="media" allow="encrypted-media" />
                    </div>
                </h:form>
                <br/>
                <h:form>
                    <h:outputText style="font-size: 20px; font-weight: bold;" value="Ocena: #{filmController.rates}" rendered="#{filmController.rates gt 0}"/>
                    <h:outputText value="Film jos uvek nije ocenjen" rendered="#{filmController.rates eq 0}"/>
                    <p:rating value="#{filmController.rates}" stars="10" readonly="#{filmController.selected.isRated(userController.selected)}"/>
                    <h:commandButton value="Oceni" action="#{filmController.onrate()}" rendered="#{!filmController.selected.isRated(userController.selected)}"/>
                </h:form>
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputLink value="#{filmController.selected.imdb}" >
                            <h:graphicImage value="/resources/images/imdb.png" style="border: 0px" width="50px" height="50px"/>
                        </h:outputLink>

                        <h:outputLink value="#{filmController.selected.rotten}" rendered="#{not empty filmController.selected.rotten}">
                            <h:graphicImage value="/resources/images/rotten.png" style="border: 0px" width="50px" height="50px"/>
                        </h:outputLink>
                    </h:panelGrid>
                    <h:panelGrid columns="2">
                        <h:graphicImage rendered="#{not empty filmController.selected.picture}" value="/resources/images/#{filmController.selected.picture}/profile.jpg" width="220px" height="320px"/>
                        <p:panelGrid columns="2" style="width:90%;margin:0px 0px;" columnClasses="label,value" layout="grid" styleClass="ui-panelgrid-blank">
                            <h:outputText value="Naziv:" style="font-size: 14px" />
                            <h:outputText value="#{filmController.selected.serbianName}" style="color: black;" />

                            <h:outputText value="Originalni naziv:" style="font-size: 14px" />
                            <h:outputText value="#{filmController.selected.name}" style="color: black;"/>

                            <h:outputText value="Reziser:" style="font-size: 14px"/>
                            <h:outputText value="#{filmController.selected.director}" style="color: black;"/>

                            <h:outputText value="Trajanje:" style="font-size: 14px" />
                            <h:outputText value="#{filmController.selected.duration}" style="color: black;"/>

                            <h:outputText value="O filmu:" style="font-size: 14px" />
                            <h:outputText value="#{filmController.selected.aboutFilm}" style="color: black;"/>
                            <h:outputText value="Drzava:" style="font-size: 14px" />
                            <h:outputText value="#{filmController.selected.country}" style="color: black;"/>
                            <h:outputText value="Glumci:" style="font-size: 14px" />
                            <h:outputText value="#{filmController.selected.casts}" style="color: black;"/>                  
                        </p:panelGrid>
                    </h:panelGrid>
                    <br />
                    <p:galleria rendered="#{not empty filmController.scenes}" value="#{filmController.scenes}" var="image" panelWidth="700" panelHeight="350" effect="slide" autoPlay="true" effectSpeed="1000">
                        <p:graphicImage name="#{image}" title="#{image}"/>
                    </p:galleria>

                </h:form>
                <h:form>
                    <h:outputFormat rendered="#{filmController.selected.futureProjectionList.size() == 0}" value="Film nema zakazanih projekcija" style="font-size: 20px; font-weight: bold;" />
                    <h:panelGroup rendered="#{filmController.selected.futureProjectionList.size() > 0}">
                        <h2>Buduce projekcije</h2>    
                        <p:dataTable id="tbl" value="#{filmController.selected.futureProjectionList}" var="item">

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Festival:" />
                                </f:facet>
                                <h:commandLink value="#{item.festival.name}"  action="#{festivalController.prepareView(item.festival)}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Mesto:" />
                                </f:facet>
                                <h:outputText value="#{item.location.place}"/>
                            </p:column>
                            <p:column width="30%">
                                <f:facet name="header">
                                    <h:outputText value="Lokacija:" />
                                </f:facet>
                                <h:outputText value="#{item.location.location}, #{item.location.address}"/>
                            </p:column>

                            <p:column width="10%"> 
                                <f:facet name="header">
                                    <h:outputText value="Sala" />
                                </f:facet>
                                <h:outputText value="#{item.location.hall}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Datum i vreme"/>
                                </f:facet>
                                <h:outputText value="#{item.projectionDate}">
                                    <f:convertDateTime pattern="dd.MM.YYYY HH:MM:SS" timeZone="CET"/>
                                </h:outputText>
                            </p:column>

                            <p:column width="10%">
                                <f:facet name="header">
                                    <h:outputText value="Rezervacije"/>
                                </f:facet>                               
                                <p:commandButton value="Rezervisi" action="#{projectionController.setSelected(item)}" update=":reserForm:reserPanel" oncomplete="PF('reserDialog').show()" />
                            </p:column>

                        </p:dataTable>
                        <br/>
                        <h:commandLink>
                            <h:graphicImage value="/resources/images/pdf.jpg" style="border: 0px" width="50px" height="50px"/>
                            <p:dataExporter type="pdf" target="tbl" fileName="projekcije" pageOnly="true" />
                        </h:commandLink>
                        <br/>

                    </h:panelGroup>            


                    <div style="width: 70%">
                        <h:panelGroup rendered="#{filmController.selected.commentsList.size() > 0}">
                            <h4>Komentari gledalaca:</h4>
                            <p:dataTable value="#{filmController.selected.commentsList}" var="item">
                                <p:column width="20%">
                                    <f:facet name="header">
                                        <h:outputText value="Korisnik:" />
                                    </f:facet>
                                    <h:outputText value="#{item.user}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Komentar:" />
                                    </f:facet>
                                    <h:outputText value="#{item.comment}"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>


                </h:form>
                <h:form>
                    <h:panelGrid columns="3" rendered="#{!filmController.selected.isCommented(userController.selected)}">
                        <h:outputLabel value="Dodaj komentar: " />
                        <p:inputTextarea value="#{filmController.comment}" rows="5" cols="50" counter="display" maxlength="150" counterTemplate="{0} znakova preostalo." autoResize="false" />
                        <h:outputText id="display" />
                        <h:commandButton value="Potvrdi" action="#{filmController.oncomment()}" />
                    </h:panelGrid>

                </h:form>
                <p:growl id="message" showDetail="true" />
                <p:dialog style="position: fixed; top: 50%; left: 50%" header="Rezervacija" widgetVar="reserDialog" modal="true" showEffect="blind" hideEffect="explode" resizable="false">                    
                    <h:form id="reserForm">
                        <p:outputPanel  style="text-align:center;">
                            <p:panelGrid  columns="2" id="reserPanel" layout="grid" styleClass="ui-panelgrid-blank">
                                <h:outputText value="Jedinicna cena:" />
                                <h:outputText value="#{projectionController.selected.ticketPrice}" />                                   

                                <h:outputText value="Broj karata:" />
                                <h:inputText value="#{projectionController.ticketsCntForReservation}" size="3" validatorMessage="Moze se rezervisati izmedju 1 i #{projectionController.selected.festival.maxRez} karata">
                                    <f:validateLongRange minimum="1" maximum="#{projectionController.selected.festival.maxRez}" />
                                </h:inputText>
                                <p:commandButton style="margin: 0 auto;" action="#{projectionController.createReservation()}" update="message" icon="fa fa-check" value="Potvrdi" oncomplete="PF('reserDialog').hide()" />

                            </p:panelGrid>
                        </p:outputPanel>

                    </h:form>
                </p:dialog>
            </div>
        </ui:define>
    </ui:composition>

</html>
