<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <ui:composition template="/template.xhtml">


        <ui:define name="body">
            <br />
            <br />
            <h1 style="color: white;">Admin</h1>
            <br />
            <br />
            <br />


            <div class="thumbnail" style="background-color: rgba(245,245,245,0.4); width: 70%; display: inline-block; margin: 0 auto;">
                <div style="width: 80%; margin: 0 auto;" >

                     
                    <h2 style="color: white;">Dodaj projekcije</h2>
                    <h:form>

                        <p:panelGrid  columns="2" style="width:40%;margin:0 auto;" columnClasses="label,value" layout="grid" styleClass="ui-panelgrid-blank">
                           <h:outputLabel value="Festival:" />
                            <p:selectOneMenu value="#{projectionController.newFestival}">                                
                                <p:ajax listener="#{festivalController.onFestivalSelect(projectionController.newFestival)}" update="locations" />
                                <f:selectItem itemLabel="Odaberite Festival" itemValue="" noSelectionOption="true" />                                
                                <f:selectItems value="#{festivalController.allFestivals}" var="item" itemLabel="#{item.name}" itemValue="#{item}"/>
                            </p:selectOneMenu>                                               
                         
                               
                           <h:outputLabel value="Film:" />
                           <p:selectOneMenu value="#{projectionController.newFilm}">
                               <f:selectItems value="#{filmController.allFilms}" var="item" itemLabel="#{item.name}" itemValue="#{item}"/>
                            </p:selectOneMenu>
                            
                           <h:outputLabel value="Mesto odrzavanja:" />
                           <p:selectOneMenu id="locations" value="#{projectionController.newLocation}">
                               <f:selectItem itemLabel="Odaberite Lokaciju" itemValue="" noSelectionOption="true" />
                               <f:selectItems value="#{festivalController.festivalLocations}" var="item" itemLabel="#{item.location},#{item.hall}" itemValue="#{item}"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Datum projekcije:" />
                            <p:calendar value="#{projectionController.newDate}" pattern="dd.MM.yyyy" required="true" requiredMessage="Niste uneli datum pocetka">
                                <p:ajax event="dateSelect" listener="#{projectionController.checkDate}" update="msgs"/>
                            </p:calendar>                           

                            <h:outputLabel value="Broj karata:" />
                            <p:inputText id="brojKarata" value="#{projectionController.newTicketsCnt}" required="true" requiredMessage="Niste uneli max broj rezervacija" >
                                <f:validateLongRange minimum="1" maximum="2000" />
                            </p:inputText>

                            <h:outputLabel value="Cena karata:" />
                            <p:inputText  id="cena" value="#{projectionController.newTicketsPrice}" required="true" requiredMessage="Niste uneli max broj rezervacija">
                                <f:validateLongRange minimum="0" maximum="2000" />
                            </p:inputText>

                            <p:commandButton value="Dodaj" action="#{projectionController.createNewProjection()}" />
                        </p:panelGrid>
                        <p:messages id="msgs" autoUpdate="true" showDetail="true" />

                    </h:form>
                    <br/><br/><br/><br/><br/><br/>
                    <!--<h:form>
                        <p:steps id="steps" activeIndex="1" styleClass="custom" readonly="false">
                            <p:menuitem value="Personal" url="#"/>
                            <p:menuitem value="Seat Selection" url="#"/>
                            <p:menuitem value="Payment" url="#"/>
                            <p:menuitem value="Confirmation" url="#"/>
                        </p:steps>
                        <p:button value="Next"/>
                    </h:form> -->
                    <!--Prikaz ucitanih filmova -->
                    <h:form id="filmsForm">
                        <p:repeat id="films" value="#{festivalController.filmsList}" var="item">
                            <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
                                <p:outputPanel>
                                    <h:panelGrid columns="2" cellpadding="5">                                       
                                        <h:outputText value="Originalni naziv:" style="font-size: 14px" />
                                        <h:outputText value="#{item.name}" style="color: black;"/>

                                         <h:outputText value="Srpski naziv:" style="font-size: 14px" />
                                        <h:outputText value="#{item.serbianName}" style="color: black;" />

                                        
                                        <h:outputText value="Reziser:" style="font-size: 14px"/>
                                        <h:outputText value="#{item.director}" style="color: black;"/>

                                        <h:outputText value="Trajanje:" style="font-size: 14px" />
                                        <h:outputText value="#{item.duration}" style="color: black;"/>

                                        <h:outputText value="O filmu:" style="font-size: 14px" />
                                        <h:outputText value="#{item.aboutFilm}" style="color: black;"/>
                                        <h:outputText value="Drzava:" style="font-size: 14px" />
                                        <h:outputText value="#{item.country}" style="color: black;"/>
                                        <h:outputText value="Glumci:" style="font-size: 14px" />
                                        <h:outputText value="#{item.casts}" style="color: black;"/>      
                                    </h:panelGrid>
                                </p:outputPanel>
                            </h:panelGrid>
                            <hr />
                        </p:repeat>
                    </h:form>
                    
                    <h:form>
                        <p:commandButton value="Dodaj film" oncomplete="PF('filmDialog').show()" />                           
                    </h:form>
                    
                     
                        <p:dialog width="40%" style="position: fixed; top: 50%; left: 50%" header="Novi film" widgetVar="filmDialog" modal="true" showEffect="blind" hideEffect="explode" resizable="false">
                            <h:form>
                                <p:outputPanel style="text-align:center;">
                                    <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
                                       
                                        <h:outputText value="Naziv:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.serbianName}" style="color: black;" required="true" requiredMessage="Naziv filma je obavezan"/>

                                        <h:outputText value="Originalni naziv:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.name}" style="color: black;" required="true" requiredMessage="Originalni naziv filma je obavezan"/>

                                        <h:outputText value="Reziser:" style="font-size: 14px"/>
                                        <h:inputText value="#{filmController.newFilm.director}" style="color: black;"/>

                                        <h:outputText value="Trajanje:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.duration}" style="color: black;"/>

                                        <h:outputText value="O filmu:" style="font-size: 14px" />
                                        <p:inputTextarea rows="4" cols="40" value="#{filmController.newFilm.aboutFilm}" style="color: black;"/>
                                        
                                        <h:outputText value="Drzava:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.country}" style="color: black;"/>
                                        
                                        <h:outputText value="Glumci:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.casts}" style="color: black;"/>   
                                        
                                        <h:outputText value="YouTube:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.youtube}" style="color: black;"/>   
                                        
                                        <h:outputText value="Imdb:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.youtube}" style="color: black;"/>   
                                        
                                        <h:outputText value="RottenTomatoes:" style="font-size: 14px" />
                                        <h:inputText value="#{filmController.newFilm.youtube}" style="color: black;"/>   
                                        
                                        <p:commandButton style="margin: 0 auto;" action="#{filmController.addNewFilm()}" value="Potvrdi" update="msgs"/>
                                        
                                        <p:growl autoUpdate="true" id="msgs" showDetail="true" />
                                    
                                    </p:panelGrid>
                                </p:outputPanel>
                            </h:form>
                        </p:dialog>
                     
                    <style type="text/css">
                        .ui-steps .ui-steps-item {
                            width: 24%;
                        }

                        .ui-state-highlight {
                            text-shadow: none !important;
                        }

                        .ui-steps.custom {
                            margin-bottom: 30px;
                        }

                        .ui-steps.custom .ui-steps-item .ui-menuitem-link {
                            height: 10px;
                            padding: 0 1em;
                        }

                        .ui-steps.custom .ui-steps-item .ui-steps-number {
                            background-color: #0081c2;
                            color: #FFFFFF;
                            display: inline-block;
                            width: 30px;
                            border-radius: 10px;
                            margin-top: -10px;
                            margin-bottom: 10px;
                        }

                        .ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
                            color: #555;
                        }
                    </style>
                </div>
            </div>


        </ui:define>
    </ui:composition>
</html>

