<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <ui:composition template="/template.xhtml">

        <ui:define name="navbar">
            <h:form>
                <b:navBar brand="FilmFestival" inverse="true" style="position: fixed; top: 0; width: 100%; height: 4%; margin-bottom: 20px; font-size: 20px;">


                    <b:navbarLinks pull="right">                      
                        <b:navCommandLink value="Login" action="/index" />
                        <b:navCommandLink value="Registration" action="/registration" />
                    </b:navbarLinks>

                </b:navBar>   
            </h:form>
        </ui:define>

        <ui:define name="body">
            <br />
            <br />
            <br />
            <br />
            <h:form>        
                <p:growl id="msgs" showDetail="true" />
                <h2 style="color: white;">Promena Lozinke</h2>
                <div class="thumbnail" style="background-color: rgba(245,245,245,0.4); width: 50%; display: inline-block; margin: 0 auto;">
                    <div style="width: 60%; margin: 0 auto;" >


                        <p:panelGrid  columns="2" style="width:60%;margin:0px 0px;" columnClasses="label,value" layout="grid" styleClass="ui-panelgrid-blank">
                            <h:outputLabel value="Username:" />
                            <p:inputText  value="#{userController.username}" required="true" requiredMessage="Niste uneli username" />

                            <h:outputLabel value="Password:" />
                            <p:password  value="#{userController.password}" required="true" requiredMessage="Niste uneli lozinku" validatorMessage="Lozinka mora imati duzinu izmedju 8 i 12 karaktera.">
                                <f:validateLength minimum="8" maximum="12"/>
                            </p:password>

                            <h:outputLabel value="New Password:" />
                            <p:password value="#{userController.newPassword}" required="true" requiredMessage="Niste uneli novu lozinku" validatorMessage="Lozinka mora imati duzinu izmedju 8 i 12 karaktera.">
                                <f:validateLength minimum="8" maximum="12"/>
                            </p:password>
                            <h:outputLabel value="" />
                            <p:commandButton value="Submit" update="msgs" action="#{userController.changePassword()}" />
                        </p:panelGrid>

                    </div>
                </div>
            </h:form>
        </ui:define>

    </ui:composition>
</html>

