<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <ui:composition template="/template.xhtml">


        <ui:define name="body">
            <br />
            <br />
            <h1 style="color: white;">Admin</h1>
            <br />
            <br />
            <br />


            <div class="thumbnail" style="background-color: rgba(245,245,245,0.4); width: 70%; display: inline-block; margin: 0 auto;">
                <div style="width: 80%; margin: 0 auto;" >

                    <h2 style="color: white;">Ucitaj novi festival</h2>
                    <div style="width: 30%; margin: 0 auto;">
                        <h:form enctype="multipart/form-data">
                            <p:growl showDetail="true" />

                            <p:fileUpload value="#{festivalController.file}" mode="simple" skinSimple="true"/>

                            <p:commandButton value="Submit" ajax="false" update=":festivalsForm:festivals, :locationsForm:locations" actionListener="#{festivalController.uploadFestivals}"/>
                        </h:form>
                    </div>
                    <br/>
                    <h2 style="color: white;">Ucitaj nove filmove</h2>
                    <div style="width: 30%; margin: 0 auto;">
                        <h:form enctype="multipart/form-data">
                            <p:growl showDetail="true" />

                            <p:fileUpload value="#{festivalController.file}" mode="simple" skinSimple="true"/>

                            <p:commandButton value="Submit" ajax="false" update=":filmsForm:films" actionListener="#{festivalController.uploadFilms}"/>
                        </h:form>
                    </div>
                    <br/><br/><br/>  
                    <h2 style="color: white;">Dodaj novi festival</h2>
                    <h:form>

                        <p:panelGrid  columns="2" style="width:40%;margin:0 auto;" columnClasses="label,value" layout="grid" styleClass="ui-panelgrid-blank">
                            <h:outputLabel value="Naziv festivala:" />
                            <p:inputText  value="#{festivalController.nazivNew}" required="true" requiredMessage="Niste uneli naziv" />
                            <h:outputLabel value="Mesto odrzavanja:" />
                            <p:inputText  value="#{festivalController.mestoOdrzavanjaNew}" required="true" requiredMessage="Niste uneli mesto" />

                            <h:outputLabel value="Datum od:" />
                            <p:calendar value="#{festivalController.startDateNew}" pattern="dd.MM.yyyy" required="true" requiredMessage="Niste uneli datum pocetka">
                                <p:ajax event="dateSelect" listener="#{festivalController.checkDates}" update="msgs"/>
                            </p:calendar>

                            <h:outputLabel value="Datum do" />
                            <p:calendar value="#{festivalController.endDateNew}" pattern="dd.MM.yyyy" required="true" requiredMessage="Niste uneli datum kraja">
                                <p:ajax event="dateSelect" listener="#{festivalController.checkDates}" update="msgs"/>
                            </p:calendar>

                            <h:outputLabel value="Max rezervacija po korisniku:" />
                            <p:inputText  value="#{festivalController.maxRezNew}" required="true" requiredMessage="Niste uneli max broj rezervacija" />

                            <h:outputLabel value="O festivalu:" />
                            <p:inputTextarea value="#{festivalController.aboutFestivalNew}" rows="5" cols="50" counter="display" maxlength="150" counterTemplate="{0} znakova preostalo." autoResize="false" />
                            <h:outputText id="display" />

                            <p:commandButton value="Dodaj" action="#{festivalController.createNewFestival()}" />
                        </p:panelGrid>
                        <p:messages id="msgs" autoUpdate="true" showDetail="true" />
                        <br/>
                        </h:form>
                    <h:form>
                        <p:commandButton value="Dodaj projekcije" action="/addProjections"/>
                    </h:form>
                    <br/><br/>
                   <!-- <h:form>
                        <p:steps id="steps" activeIndex="1" styleClass="custom" readonly="false">
                            <p:menuitem value="Personal" url="#"/>
                            <p:menuitem value="Seat Selection" url="#"/>
                            <p:menuitem value="Payment" url="#"/>
                            <p:menuitem value="Confirmation" url="#"/>
                        </p:steps>
                        <p:button value="Next"/>
                    </h:form>-->
                    <!--Prikaz ucitanih filmova -->
                    <h:form id="filmsForm" rendered="#{festivalController.filmsList.size() > 0}">
                        <br/><br/><br/><br/>
                        <h4 style="color: white;">Ucitani filmovi</h4>
                        <p:repeat id="films" value="#{festivalController.filmsList}" rendered="#{festivalController.filmsList.size() > 0}" var="item">                         
                            <p:panel header="Film" closable="true" closeSpeed="500" widgetVar="panel" style="margin-bottom:5px">                               
                                <p:ajax event="close" listener="#{festivalController.onFilmClose(item.name)}" update="films" />                            
                                <p:panelGrid  columns="2" style="margin: 0 auto">
                                        <h:outputText value="Naziv:" style="font-size: 14px" />
                                        <h:outputText value="#{item.serbianName}" style="color: black;" />

                                        <h:outputText value="Originalni naziv:" style="font-size: 14px" />
                                        <h:outputText value="#{item.name}" style="color: black;"/>

                                        <h:outputText value="Reziser:" style="font-size: 14px"/>
                                        <h:outputText value="#{item.director}" style="color: black;"/>

                                        <h:outputText value="Trajanje:" style="font-size: 14px" />
                                        <h:outputText value="#{item.duration}" style="color: black;"/>

                                        <h:outputText value="O filmu:" style="font-size: 14px" />
                                        <h:outputText value="#{item.aboutFilm}" style="color: black;"/>
                                        <h:outputText value="Drzava:" style="font-size: 14px" />
                                        <h:outputText value="#{item.country}" style="color: black;"/>
                                        <h:outputText value="Glumci:" style="font-size: 14px" />
                                        <h:outputText value="#{item.casts}" style="color: black;"/>      
                                    </p:panelGrid>
                                
                                <p:growl id="msgs" showDetail="true" />
                            </p:panel>
                        </p:repeat> 
                        <p:commandButton action="#{festivalController.saveFilms()}" update="@all" rendered="#{festivalController.filmsList.size() > 0}" value="Sacuvaj"/>
                        <p:commandButton action="#{festivalController.filmsClose()}" rendered="#{festivalController.filmsList.size() > 0}" value="Otkazi" update="@all"/>
                    </h:form>
                    
                    
                   
                    <!--Prikaz ucitanih festivala -->
                    <h:form id="festivalsForm" rendered="#{festivalController.fileFestivals.size() > 0}" style="margin: 0 auto; width: 70%">
                        <br/>
                        <h4 style="color: white;">Ucitani festivali</h4>
                        <p:repeat id="festivals" value="#{festivalController.fileFestivals}" rendered="#{festivalController.fileFestivals.size() > 0}" var="item">                         
                            <p:panel header="Festival" closable="true" closeSpeed="500" widgetVar="panel" style="margin-bottom:5px">                               
                                                       
                                <p:panelGrid  columns="2" style="margin: 0 auto; width: 70%">
                                        <h:outputText value="Naziv:" />
                                        <h:outputText value="#{item.name}" style="color: black;" />

                                        <h:outputText value="Datum pocetka:"/>
                                        <h:outputText value="#{item.startDate}" style="color: black;">
                                            <f:convertDateTime pattern="dd.MM.YYYY" />
                                        </h:outputText>

                                        <h:outputText value="Trajanje:"/>
                                        <h:outputText value="#{item.endDate}" style="color: black;">
                                            <f:convertDateTime pattern="dd.MM.YYYY" />
                                        </h:outputText>
                                        
                                        <h:outputText value="Mesto:" />
                                        <h:outputText value="#{item.place}" style="color: black;"/>
                                        
                                        <h:outputText value="O festivalu:" />
                                        <p:inputTextarea readonly="true" rows="5" cols="80" value="#{item.about}" style="color: black; width: 100%"/>      
                                    </p:panelGrid>
                                
                                <p:growl id="msgs" showDetail="true" />
                            </p:panel>
                        </p:repeat> 
                        <p:commandButton action="#{festivalController.saveFestivals()}" update="@all" rendered="#{festivalController.fileFestivals.size() > 0}" value="Sacuvaj" />
                        <p:commandButton action="#{festivalController.festivalsClose()}" value="Otkazi" update="@all" rendered="#{festivalController.fileFestivals.size() > 0}"/>
                    </h:form>   
                    
                   
                    <!--Prikaz ucitanih lokacija -->
                    <h:form id="locationsForm" rendered="#{festivalController.fileLocations.size() > 0}" style="margin: 0 auto; width: 60%">
                        <br/><br/>
                         <h4 style="color: white;">Ucitane lokacije</h4>
                        <p:repeat id="locations" value="#{festivalController.fileLocations}" rendered="#{festivalController.fileLocations.size() > 0}" var="item">                         
                            <p:panel header="Lokacija" closable="true" closeSpeed="500" widgetVar="panel" style="margin-bottom:5px">                               
                                                       
                                <p:panelGrid  columns="2" style="margin: 0 auto; width: 70%">
                                        <h:outputText value="Mesto:" />
                                        <h:outputText value="#{item.place}" style="color: black;" />
                                            
                                        <h:outputText value="Lokacija:" />
                                        <h:outputText value="#{item.location}" style="color: black;" />
                                        
                                        <h:outputText value="Koordinate:" />
                                        <h:outputText value="#{item.gpsLat}, #{item.gpsLon}" style="color: black;"/>
                                            
                                    </p:panelGrid>
                                
                                <p:growl id="msgs" showDetail="true" />
                            </p:panel>
                        </p:repeat> 
                        <p:commandButton action="#{festivalController.saveLocations()}" update="@all" rendered="#{festivalController.fileLocations.size() > 0}" value="Sacuvaj" />
                        <p:commandButton action="#{festivalController.locationsClose()}" value="Otkazi" update="@all" rendered="#{festivalController.fileLocations.size() > 0}"/>
                    </h:form>                 
                </div>
            </div>
            
                   


        </ui:define>
    </ui:composition>
</html>

