<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <ui:composition template="/template.xhtml">
 
        <br />
        <ui:define name="navbar">
            <h:form>
                <b:navBar brand="FilmFestival" inverse="true" style="position: fixed; top: 0; width: 100%; height: 4%; margin-bottom: 20px; font-size: 20px;">


                    <b:navbarLinks pull="right">                      
                        <b:navCommandLink value="Login" action="/index" />
                        <b:navCommandLink value="Registration" action="/registration" />
                    </b:navbarLinks>

                </b:navBar>   
            </h:form>
        </ui:define>

        <ui:define name="body">
            <br />
            <br />
            <br />
            <br />
            <h:form>        
                <p:growl id="msgs" showDetail="true" />
                <h2 style="color: white;">Festivali</h2>
                <div class="thumbnail" style="background-color: rgba(245,245,245,0.4); width: 70%; display: inline-block; margin: 0 auto;">
                    <div style="width: 80%; margin: 0 auto;" >

                        <h4>Pretraga</h4>
                        <p:panelGrid  columnClasses="ui-grid-col-2, ui-grid-col-2" columns="2">
                            Naziv festivala:
                            <p:inputText value="#{festivalController.searchFestivalName}">
                                <p:ajax event="keyup" listener="#{festivalController.filterFestivals}" update="table"/> 
                            </p:inputText>
                            Od:
                            <p:calendar id="startDate" value="#{festivalController.startDate}" pattern="dd.MM.yyyy">
                                <p:ajax event="dateSelect" listener="#{festivalController.onDateSelect}" update="table, msgs" />
                            </p:calendar>
                            Do:
                            <p:calendar id="endDate" value="#{festivalController.endDate}" pattern="dd.MM.yyyy">
                                <p:ajax event="dateSelect" listener="#{festivalController.onDateSelect}" update="table"/>
                            </p:calendar>
                        </p:panelGrid>
                        <br/><br/>


                        <p:dataTable value="#{festivalController.festivalsList}" var="item" id="table" emptyMessage="Nema trazenih festivala.">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Naziv" />
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Datum pocetka" />
                                </f:facet>
                                <h:outputText value="#{item.startDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Datum kraja" />
                                </f:facet>
                                <h:outputText value="#{item.endDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Mesta odrzavanja" />
                                </f:facet>
                                <h:outputText value="#{item.place}"/>                                   
                            </p:column>

                        </p:dataTable>

                    </div>
                </div>
            </h:form>
        </ui:define>

    </ui:composition>
</html>

