<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEmPq1TKVyaLsQPTrpLACDIR53g-FWJxs&amp;callback=initMap"
  type="text/javascript"></script>
    </h:head>

    <h:body>
        <h1>
 
            <ui:insert name="navbar">
                <h:form>
                  <b:navBar brand="FilmFestival" inverse="true" style="position: fixed; top: 0; width: 100%; height: 4%; margin-bottom: 20px; font-size: 20px;">
                   <b:navbarLinks>              
                       <b:navCommandLink value="Home" action="#{userController.home()}"/>
                   </b:navbarLinks>
                      
                   <b:navbarLinks pull="right">                      
                            <b:navCommandLink value="Logout" action="#{userController.logout()}" />
                   </b:navbarLinks>
                </b:navBar>   
              </h:form>
            </ui:insert>
        </h1>
        <p>
            
            <ui:insert name="body">Default Body</ui:insert>
            
        </p>
        
        <h1>
            <ui:insert name="footer"></ui:insert>
        </h1>
        
        
        <h:outputScript name="bootstrap-3.3.7-dist/js/bootstrap.min.js"/>
    </h:body>

</html>
